name: main

on: ["push", "pull_request"]

jobs:
  lint:
    name: "Lint"
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go: ["1.22.x"]
        dir: ["./"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: ${{ matrix.go }}
      - run: "make vet"
      - uses: dominikh/staticcheck-action@v1.3.1
        with:
          version: "latest"
          install-go: false
          cache-key: ${{ matrix.go }}
          working-directory: ${{ matrix.dir }}

  test:
    name: "Test"
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go: ["1.22.x"]
        dir: ["./"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: ${{ matrix.go }}
      - run: "make test"
  